@use "config";

.head {
    margin: 0;
    padding: 0;
    margin: 97px;


    .toggle {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .toggle-btn {
        border: none;
        font-size: 24px;
        color: config.$purple;
        background: transparent;
    }

    .toggle-btn:hover {
        cursor: pointer;
    }
}

.choice {
    background-color: config.$pure-white;
    color: config.$primary-font;
}

.submit {
    background-color: config.$purple;
    color: config.$pure-white;
}

.submit:hover {
    background-color: config.$purple-hover;
}