@use "config";

.toggle-btn {    
    border: none;
    font-size: 20px;
    color: config.$purple;
    background: transparent;
}

.choice {
    background-color: config.$pure-white;
    color: config.$primary-font;
}

.submit {
    background-color: config.$purple;
    color: config.$pure-white;
}

.submit:hover{
    background-color: config.$purple-hover;
}