// font family
$font-stack: "Rubik", san-serif;

// font
$primary-font: #313E51;
$pure-white: #FFFFFF;

// state
$error: #EE5454;
$success: #26D782;

// button
$purple: #A729F5;
$purple-hover: rgb(202, 151, 244);

// course
$html: #FFF1E9;
$css: #E0FDEF;
$js: #EBF0FF;
$acc: #F6E7FF;