$font-stack: "Rubik", san-serif;

$primary-font: #313E51;
$secondary-font: #626C7F;

$background: #F4F6FA;

$error: #EE5454;
$success: #26D782;

$purple: #A729F5;
$pure-white: #FFFFFF;
$purple-hover: rgb(202, 151, 244);

$html: #FF7E35;
$css: #2FD887;
$js: #306AFF;

// Set text color based on bg
@function set-text-color() {
    @if(lightness($color) > 70) {
        @return $pure-white;
    } @else {
        @return $primary-font;
    }
}