@use "config";
@use "buttons";

*, html {
    font-family: config.$font-stack;
    margin: 0;
    padding: 0;
    z-index: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: config.$bg-light;
    background-image: url(/assets/images/pattern-background-desktop-light.svg);
}

.main{
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit;
    background: none;
}

.menu {
    color: config.$primary-font;
    margin: 140px 224px;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        width: 1160px;
        height: 456px;
        display: flex;
        flex-direction: row;


        .menu-heading {
            width: 564px;
            height: inherit;


            .text {
                gap: 48px;
                width: 465;
                height: 214px;
                display: flex;
                flex-direction: column;
            }

            h1 {
                margin: 0;
                font-size: 64px;
                font-weight: 300;


                span {
                    font-weight: 600;

                }
            }

            .menu-discription {
                font-size: 20px;
                font-style: italic;
                color: config.$secondary-font;
            }
        }

        .menu-lessons {
            width: 564px;
            height: inherit;


            .lessons {
                display: flex;
                flex-direction: column;
                gap: 24px;


                a {
                    cursor: pointer;
                    padding: 0 0 0 20px;
                    gap: 32px;
                    height: 96px;
                    width: inherit;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    border-radius: 24px;
                    background-color: config.$pure-white;
                    // box-shadow: 0 0 .5px .1px #c2c2c2;

                    .html-img {
                        width: 56px;
                        height: 56px;
                        display: flex;
                        border-radius: 8px;
                        align-items: center;
                        justify-content: center;
                        background: config.$html;

                        img {
                            width: 40px;
                            height: 40px;
                        }
                    }

                    .lesson1 {

                        .lesson-html {
                            font-size: 28px;
                            font-weight: 500px;
                            background: config.$pure-white;
                        }
                    }

                    .css-img {
                        width: 56px;
                        height: 56px;
                        display: flex;
                        border-radius: 8px;
                        align-items: center;
                        justify-content: center;
                        background: config.$css;

                        img {
                            width: 40px;
                            height: 40px;
                        }
                    }

                    .lesson2 {

                        .lesson-css {
                            font-size: 28px;
                            font-weight: 500px;
                            background: config.$pure-white;
                        }
                    }

                    .js-img {
                        width: 56px;
                        height: 56px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 8px;
                        background: config.$js;

                        img {
                            width: 40px;
                            height: 40px;
                        }
                    }

                    .lesson3 {

                        .lesson-js {
                            font-size: 28px;
                            font-weight: 500px;
                            background: config.$pure-white;
                        }
                    }

                    .acc-img {
                        width: 56px;
                        height: 56px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 8px;
                        background: config.$acc;

                        img {
                            width: 40px;
                            height: 40px;
                            // background: transparent;
                        }
                    }

                    .lesson4 {

                        .lesson-acc {
                            font-size: 28px;
                            font-weight: 500px;
                            background: config.$pure-white;
                        }
                    }
                }
            }
        }
    }
}