@use "config";
@use "buttons";

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: config.$font-stack;
}

body {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--bg-primary);
    background-image: var(--bg-image-pc);
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.head {
    width: 80%;
}

.container {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--font-color-primary);
}

.menu-heading {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        margin: 0;
        font-size: 4em;
        font-weight: 300;

        span {
            font-weight: 600;
        }
    }

    .menu-discription {
        font-size: 1.25em;
        background: none;
        font-style: italic;
        color: var(--font-color-secondary);
    }
}

.lessons {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .category-link {
        cursor: pointer;
        padding: 0 0 0 1.25em;
        gap: 2em;
        height: 6em;
        width: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 1.5em;
        text-decoration: none;
        color: var(--font-color-primary);
        background-color: var(--bg-secondary);

        .categories-titles {
            font-size: 1.75em;
            font-weight: 31.25em;
            background: none;
        }

        .icn {
            width: 3.5em;
            height: 3.5em;
            padding: 0.625em;
            display: flex;
            border-radius: 0.5em;
            align-items: center;
            justify-content: center;
        }

        .icon1 {
            background: var(--bg-html);
        }

        .icon2 {
            background: var(--bg-css);
        }

        .icon3 {
            background: var(--bg-js);
        }

        .icon4 {
            background: var(--bg-acc);
        }
    }


@media screen and (max-width: 1024px) {
    body {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-image: var(--bg-image-tablet);
    }

    .main {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .head {
        width: 80%;
    }

    .container {
        width: 80%;
        height: 75vh;
        display: flex;
        flex-direction: column;
        gap: 1.25em;
    }

    .menu-heading {
        width: 100%;
        height: 20vh;
    }

    .lessons {
        width: 100%;
        height: 50vh;
    }

    .category-link {
        height: 5em;
        border-radius: 0.75em;

        .categories-titles {
            font-size: 0.75em;
        }

        .icn {
            width: 3.5em;
            height: 3.5em;
            border-radius: 0.357em;
        }
    }

}

@media (max-width: 600px) {
    body {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: var(--bg-image-mobile);
    }

    .main {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .head {
        width: 90%;
    }

    .container {
        width: 90%;
        height: 62vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu-heading {
        width: 100%;
        height: 16vh;

        h1 {
            font-size: 2.5em;
        }

        p{
            font-size: 0.857em;
        }
    }

    .lessons {
        width: 100%;
        height: 40vh;

        .category-link {
            height: 4em;
            border-radius: 0.75em;

            .categories-titles {
                font-size: 1.125em;
            }

            .icn {
                width: 2.5em;
                height: 2.5em;
                border-radius: 0.357em;
            }
        }
    }
}